
.customeBody{
    margin: 0;
    padding: 0;
    display: block;
    overflow-x: auto; 
}
/*--------content.tsx-------------*/
.contentContainer{
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex; /* Flexbox layout untuk box dan box2 */    
    width: 100%; /* Mengambil lebar penuh */
}

/*table beranda*/
.berandaContentTable{
    margin-top: 100px;
    margin-bottom: 30px;
}
.berandaContentTable table{
    border: 2px solid #2E2E2E;
}

/*deretan atas (box)*/
.boxContainer{
    margin-left: 80px;
    margin-right: 80px;
    
    padding: 0;
    display: flex; /* Flexbox layout untuk box dan box2 */    
    width: auto; 
        
}
.box, .box2{
    width: 450px;
    height: 390px;
    margin-top: 90px;
    background-color: #E9E9E9;
    border: 3px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column; /* Mengatur item di dalam box agar vertikal */
    overflow-y: auto; /* Tambahkan scroll jika konten melebihi tinggi box */
    padding: 20px; /* Berikan padding agar isi tidak terlalu mepet */
    transition: all 0.5s ease;

}
.box {
    flex-direction: column;  /* Dorong ke kiri */
}

/*dalam box*/
.judulboxContainer{
    display: flex;
}
.judulBox{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
}
.inputStore{
    max-width: 280px;
    min-width: auto;
    max-height: 40px;
    min-height: auto;
    margin-top: 25px;
    margin-left: 20px;
    background-color: #E9E9E9;
    border: none;
    border-bottom: 3px solid #2E2E2E;
    display: inline-flex;
}
.inputStore:focus{
    outline: none;
}
.buttonSearch{
    height: 26px;
    width: 26px;
    margin-top: 32px;
    margin-left: 15px;
    display: inline-flex;
}
.checkboxContainer {
    display: flex; /* Flexbox untuk menata checkbox di kiri dan label di kanan */
    align-items: center; /* Menyelaraskan elemen secara vertikal */
    margin-bottom: 10px; /* Jarak antar checkbox */
}
.isiBox {
    display: flex;
    flex-direction: column; /* Menyusun pasangan checkbox dan label secara vertikal */
    width: 100%; /* Memastikan elemen mengambil lebar penuh */
    padding: 10px; /* Tambahan padding jika diperlukan */
    overflow-y: auto; /* Tambahan padding jika diperlukan */
}
.isiBox .checkboxContainer {
    display: flex; /* Flexbox untuk menata checkbox dan label dalam satu baris */
    align-items: center; /* Menyelaraskan elemen secara vertikal */
    margin-bottom: 10px; /* Jarak vertikal antara setiap checkbox dan label */
}
.checkboxStore {
    height: 30px;
    width: 30px;
    appearance: none;
    border: 4px solid #2E2E2E;
    border-radius: 7px;
    margin-left: 23px;
    margin-top: 10px;
    cursor: pointer; /* Pointer cursor on hover */
    position: relative; /* Positioning for the pseudo-element */
    background-color: transparent; /* Background transparent */
}

/* Styles for the checked state */
.checkboxStore:checked {
    background-color: white; /* Background color when checked */
    border: 2px solid #0083fd; /* Border color when checked */
}

/* Adding a checkmark using a pseudo-element */
.checkboxStore:checked::after {
    content: ""; /* This is necessary for the pseudo-element to be displayed */
    position: absolute;
    left: 7px; /* Adjust based on your design */
    top: 0px; /* Adjust based on your design */
    width: 10px; /* Adjust width of checkmark */
    height: 20px; /* Increase height for a fuller checkmark */
    border: solid #0083fd; /* Color of the checkmark */
    border-width: 0 3px 3px 0; /* Create the checkmark shape */
    transform: rotate(45deg); /* Rotate to make a checkmark */
    opacity: 1; /* Ensure the checkmark is fully visible */
}


.namaStore{
    margin-left: 25px;
    margin-top: 10px;
    font-size: 25px;
}
.box2 { /* Dorong ke kanan */
    flex-direction: column;
    display: inline-block;
}

/***********************************************/

/*button tengah*/

.buttonContainer {
    display: flex;
    margin-top: 40px;
    flex-direction: column; /* Menyusun elemen secara vertikal */
    align-items: center; /* Menyelaraskan tombol di tengah (opsional) */
    gap: 10px; /* Jarak antar tombol */
    margin-right: 10px;
    margin-left: 10px;
}
.buttonContainer button {
    background: none;
    border: none;
    cursor: pointer;
}
.buttonTengah{
    margin: 0;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-flex;
    
}
.buttonTengah1{
    margin-top: 20px;
}

/*************************************************/

/*isi dibawah deretan box*/
.divisiContainer {
    width: 100%;
    padding: 0%;
}
.formContainer{
    margin-top: 10px;
    display: flex;
    font-size: 40px;
}
.formContainer h1{
    font-size: 50px;
    width: 70%;
}
.formContainer input{
    width: 800px;
    font-size: 40px;
    border: none;
    border-bottom: 3px solid #2E2E2E;
}
.formContainer input:focus{
    outline: none;
}
.searchCode{
    margin-left: 10px;
    margin-top: 17px;
    width: 30px;
    height: 30px;
}
.formContainer select {
    width: 520px;
    height: 30px;
    font-size: 20px;
    border: 2px solid #2E2E2E;
}

/************************************************/

/*table*/

.layoutTabel{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center; /* Tengah horizontal */
    align-items: flex-end; /* Tengah vertikal di bagian bawah */
    padding-bottom: 20px; /* Ruang di bawah tabel */
}
.layoutTabel table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}
.layoutTabel th, .layoutTabel td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
} 
.layoutTabel th {
    background-color: #2E2E2E;
    color: #ffffff;
    text-align: left;
}
.layoutTabel tr:nth-child(even) {
    background-color: #f2f2f2;
}
.layoutTabel tr:hover {
    background-color: #f5f5f5;
}
/*********************************************************************/

/*kurang tambah*/

.kurangTambah {
    display: flex;
    margin-bottom: 10px;
    justify-content: center; /* Menempatkan elemen di sisi kanan dan kiri */
    align-items: center; /* Menyelaraskan secara vertikal */
    gap: 40px;
}
.buttonLeft{
    width: 70px; /* Ukuran button kiri */
    height: 70px;
}
.buttonRight{
    width: 70px; /* Ukuran button kiri */
    height: 70px;
}

/*-------------------------------------------------------------------*/

/*$$$$$$$$$$$$$$$$$$$ responsif $$$$$$$$$$$$$$$$$$$$$$$*/

@media screen and (min-width: 1551px) and (max-width: 1920px){
    .boxContainer{
        justify-content: center;
        align-items: center;
    }    

    .divisiContainer{
        margin-top: 50px;
    }

    .formContainer{
        margin-left: 300px;
        margin-right:300px;
    }
    .formContainer select {
        width: 520px;
        font-size: 20px;
        border: 2px solid #2E2E2E;
    }
}

@media screen and (min-width: 1351px) and (max-width: 1550px){
    .formContainer{
        margin-left: 120px;
        margin-right:120px;
    }
    .divisiContainer{
        margin-top: 50px;
    }

    .formContainer select {
        width: 520px;
        font-size: 20px;
        border: 2px solid #2E2E2E;
    }
}

@media screen and (min-width: 931px) and (max-width: 1350px){
    .box .box2{
        width: 300px;
    }
    .divisiContainer{
        margin-top: 50px;
    }

    .formContainer{
        margin-left: 60px;
        margin-right:60px;
    }
    .formContainer select {
        width: 520px;
        font-size: 20px;
        border: 2px solid #2E2E2E;
    }
}

@media screen and (max-width: 930px){
    
    .boxContainer{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .box, .box2{
        width: 350px;
        height: 300px;
    }
    .judulBox{
        font-size: 28px;
    }
    
    .inputStore{
        width: 160px;
        margin-top: 20px;
        margin-left: 12px;
    }
        
    .buttonContainer {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        gap: 1px; 
    }
      
    .buttonTengah{
        margin-top: -20px;
        
    }
    .buttonTengah1{
        margin-top: 10px;
        height: 52px;
        width: 52px;
    }

    .box2{
        margin-top: 15px;
    }

    .divisiContainer {
        width: 100%;
        margin-top: 40px;
    }
    
    .formContainer{
        font-size: 30px;
        justify-content: center;
        align-items: center;
        
    }
    
    .formContainer h1{
        width: 40%;
    }
    .formContainer input{
        border-bottom: 3px solid #2E2E2E;
        width: 300px;
    }
    
    .searchCode{
        margin-left: 25px;
        margin-top: 15px;
        width: 30px;
        height: 30px;    
    }
    
    .formContainer select {
        width: 300px;
        font-size: 20px;
        border: 2px solid #2E2E2E;
    }
}